@media (max-width: 768px){ .nav{display: none;} }
@media (min-width: 769px){
  .menu{display: flex; flex-flow: row;}
  .nav {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 10px 150px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgba(25, 25, 35, 0.8);
    backdrop-filter: blur(5px);
    z-index: 100;
  }

  .nav ul {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .nav ul li a {
    margin: 5px 15px;
  }


  .logomenu{
    display: flex;
    align-items: center;
  }

  .logomenu a{ margin-left: 15px;}

  .nav .languageMenu {
    width: 80px;;
    border:solid 2px #333;
    padding: 5px 8px;
    border-radius: 100px;
  }

  .languageMenu__Item{text-align: center; min-width: 30px; transition: .4s;}
  .languageMenu__Item a{ margin: 5px !important; color: #333;}
  .languageMenu__Item:hover{background-color: #baff29; border-radius: 100px;}

}